.rules-background {
  width: 100%;
  height: 100vh;
  background-color: var(--light-color);
  padding-top: 40px;
}

.rules-container {
  width: 600px;
  padding: 20px 15px;
  margin: auto;
  background-color: white;
  color: var(--dark-color);
}

.rules-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 15px;
  text-align: center;
}

.rules-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
