.setModalDuplicateShoot-container {
  width: 440px;
  height: 150px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.setModalDuplicateShoot-warning {
  margin-top: 10px;
  margin-bottom: 25px;
}
