.home-backgroundImage {
  width: 100%;
  height: 100vh;
  position: absolute;
}

.home-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.home-title {
  width: 800px;
  margin-top: 60px;
}

.home-navigation {
  margin-bottom: 15px;
}
