.navigation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* margin: auto; */
  gap: 20px;
}

.nav-goToBattle {
  background-color: var(--boom-color);
  width: 200px;
}

.nav-rules {
  width: 200px;
}
