.modal-container {
  width: 440px;
  height: 200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.modal-congrats {
  font-size: 1.8rem;
  font-weight: 700;
}

.modal-message {
  margin-bottom: 15px;
}
