.title-battleField {
  font-size: 1.8rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.navigation-battleField {
  width: 350px;
  margin: 10px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: var(--map-color);
  margin: auto;
  width: 440px;
  height: 320px;
  border: 1px solid var(--mid-color);
}

.submit-input {
  grid-column: 1 / span 2;
  font-size: 1.1rem;
  font-weight: 600;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}

.title-control-panel {
  text-align: center;
  margin-top: 10px;
  font-size: 1.2rem;
  font-weight: 600;
}

.label-wrapper {
  width: 100px;
  text-align: center;
}

.label-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 0.8rem;
}

input {
  width: 90px;
  height: 50px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 700;
  border-radius: 10px;
  background-color: var(--grid-color);
}

.span-wrapper {
  height: 18px;
}

span {
  font-size: 0.8rem;
  margin-top: -5px;
  margin-bottom: 5px;
  color: var(--boom-color);
  display: none;
}

input:invalid:not([value='']) ~ span {
  display: block;
}
/* input:invalid:not([value=''])[focused='true'] ~ span {
  display: block;
} */

.information {
  width: 400px;
  height: 50px;
  display: flex;
  padding: 0 20px;
  align-items: center;
  justify-content: space-between;
  background-color: var(--light-color);
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 700;
}

.bottom-navigation {
  width: 350px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.grid-container {
  width: 442px;
  height: 442px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: 1fr 10fr;
  margin-top: 15px;
  border: 1px solid var(--dark-color);
}

.grid-item {
}

.grid-blank {
  background-color: white;
  border: 1px solid black;
}

.grid-col-header {
  background-color: var(--grid-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.colHeaderItem {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.grid-row-header {
  background-color: var(--grid-color);
  font-weight: 600;
}

.rowHeaderItem {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

.grid-map {
  display: flex;
  flex-wrap: wrap;
}

.map-element {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
}
