@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  /* font-family: 'Titillium', sans-serif; */
  font-family: 'Titillium Web';
}

/* .button {
  width: 100px;
  height: 30px;
  margin: 10px 0;
} */

:root {
  --water-color: rgb(121, 217, 246);
  --boom-color: rgb(227, 50, 50);
  --dark-color: rgb(36, 38, 39);
  --mid-color: rgb(133, 138, 140);
  --light-color: rgb(225, 233, 237);
  --grid-color: rgb(255, 236, 143);
  --button-color: rgb(38, 58, 100);
  --map-color: rgb(176, 182, 190);
}

.button {
  width: 110px;
  color: var(--light-color);
  /* padding: 15px 25px; */
  padding: 12px 0;
  margin-bottom: 8px;
  background-color: var(--button-color);
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: 600;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

.shoot-button {
  width: 110px;
  color: var(--light-color);
  /* padding: 15px 25px; */
  padding: 12px 0;
  margin-bottom: 8px;
  background-color: var(--boom-color);
  background-image: radial-gradient(
      93% 87% at 87% 89%,
      rgba(0, 0, 0, 0.23) 0%,
      transparent 86.18%
    ),
    radial-gradient(
      66% 66% at 26% 20%,
      rgba(255, 255, 255, 0.55) 0%,
      rgba(255, 255, 255, 0) 69.79%,
      rgba(255, 255, 255, 0) 100%
    );
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 10px 20px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: 500;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  cursor: pointer;
}

.backShadow {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}
